{% extends "mainapp/template_layout.html" %}
{% load static %}
{% block title %}MyMillet{% endblock title %}
{% block content %}
<!-- Проверка авторизованности пользователя: -->
        {% csrf_token %}
        {% if user.is_authenticated %}
            <div id="successMessage" class="success_signal" style="background-color:aquamarine">
                <p style="color:black;">{{ success }}</p>
            </div>
        {% else %}
            <div id="errorMessage" class="error_signal" style="background-color:rgb(255, 153, 127);">
                <p style="color:black;">{{ error }}</p>
            </div>
        {% endif %}
<div id="menuBlock">
    <picture>
        <source media="(min-width: 1024px)" srcset="{% static 'mainapp/img/homepage/top_title_pic_desktop.webp'%}" alt="Main theme of our bakery." class="main_theme_pic">
        <source media="(max-width: 1023px)" srcset="{% static 'mainapp/img/homepage/top_title_pic_mobile.webp'%}" alt="Main theme of our bakery." class="main_theme_pic">
        <img src="{% static 'mainapp/img/homepage/top_title_pic.webp'%}" alt="Main theme of our bakery." class="main_theme_pic">
    </picture>
    <a href="/" class="base_nav">Home-></a>
    <a href="products/" class="base_nav">Shop-></a>
</div>
<picture>
    <source media="(min-width: 1024px)" srcset="{% static 'mainapp/img/homepage/top_title_pic_desktop.webp'%}" alt="Main theme of our bakery." class="main_theme_pic">
    <source media="(max-width: 1023px)" srcset="{% static 'mainapp/img/homepage/top_title_pic_mobile.webp'%}" alt="Main theme of our bakery." class="main_theme_pic">
    <img src="{% static 'mainapp/img/homepage/top_title_pic.webp'%}" alt="Main theme of our bakery." class="main_theme_pic">
</picture>
<div class="central_bar">
    <a href="/" class="h-buttons" id="menuB"><button ><img type="image/svg" src="{% static 'mainapp/img/burger_24.svg' %}"></button></a>
    <span class="brand-text" style="font-size:32px;">Backing for happiness</span>
    <a href="/products" class="base_nav">Shop-></a>
    <a href="/" class="base_nav">Who we are-></a>
</div>
<picture>
    <source media="(min-width: 1024px)" srcset="{% static 'mainapp/img/homepage/bottom_pic.webp'%}" alt="Main theme of our bakery." class="bottom_pic">
    <source media="(max-width: 1023px)" srcset="{% static 'mainapp/img/homepage/bottom_pic_mobile.webp'%}" alt="Main theme of our bakery." class="bottom_pic">
    <img src="{% static 'mainapp/img/homepage/buttom_pic.webp'%}" alt="Main theme of our bakery." class="bottom_pic">
</picture>
{% endblock content %}
{% block scripts %}
<!-- Скрипт только для главной страницы -->
<script src="{% static 'mainapp/js/success_message_changer.js' %}"></script>
{% endblock %}