{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;700&family=Fugaz+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'mainapp/css/style.css' %}">
    <link rel="icon" type="image/png" href="{% static 'mainapp/img/icon.png' %}">
    <title>{% block title %}{% endblock title %}</title>
</head>
<body>
    <!-- Заголовок -->
    <header>
        <!--Логотип и название-->
        <div class="header_left">
        <a href="/"><img src="{% static 'mainapp/img/favicon/favicon.svg' %}" alt="Logo" class="favicon-logo"></a>
        <a href="/" class="brand-text" style="font-size:32px;">MyMillet</a>
        </div>
        <!--Кнопки-->
        <div class="header_right">
            <a href="/" class="h-buttons" id="basketB"><button>Basket</button></a>
            <a href="/" class="h-buttons" id="signInB"><button>Sign in</button></a>
        <!--Количество товаров в корзине-->
        </div>
    </header>
        <!-- Динамическое окно авторизации -->
        <div class="autorization-field" id="modalAuth">
            <a href="/" class="close"><span>&times;</span></a>
            <form id="loginForm" method="post">
                {% csrf_token %}
                <p>Login:</p>
                {{ form.username }}
                <p>Password:</p>
                {{ form.password }}
                <br>
                {% if error %}
                <p>{{ error }}</p>
                {% endif %}
                <button type="submit" class="inside_button">Sign Up</button>
            </form>
        </div>
    <main>
        {% block content %}{% endblock content %}
        <!-- footer -->
        <footer>
            <div class="footer-navigation">
                <div class="footer-nav-left">
                    <a class="footer_nav_button" href="\products">Shop</a>
                    <a class="footer_nav_button" href="\">My profile</a>
                    <a class="footer_nav_button" href="\">Home page</a>
                </div>
                <div class="footer-nav-right">
                    <a class="footer_nav_button" href="\">Delivery&Map</a>
                    <a class="footer_nav_button" href="\">Who we are</a>
                    <a class="footer_nav_button" href="\">Newsstand</a>
                </div>
            </div>
            <p class="copyright">&copy; 2025 MyMillet</p>
        </footer>
    </main>
    <script src="{% static 'mainapp/js/autorization_field_changer.js' %}"></script>
    <script src="{% static 'mainapp/js/menu_changer.js' %}"></script>
</body>
</html>