{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;700&family=Fugaz+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'mainapp/css/style.css' %}">
    <title>{% block title %}{% endblock title %}</title>
</head>
<body>
    <div class="autorization-field" id="modalAuth"></div>
    <header>
        <!--Логотип подставить сюда!!!-->
        <a href="/" class="brand-text" style="font-size:20px;">MyMillet</a>
        <!--Кнопки-->
        <a href="/" class="h-buttons" id="basketB"><button>Basket</button></a>
        <a href="/" class="h-buttons" id="signInB"><button>Sign in</button></a>
        <!--Количество товаров в корзине-->
    </header>
    <main>
        {% block content %}{% endblock content %}
        <footer>
            <div class="footer-navigation">
                <div class="footer-nav-left">
                    <a href="\">Shop</a>
                    <a href="\">My profile</a>
                    <a href="\">Home page</a>
                </div>
                <div class="footer-nav-right">
                    <a href="\">Delivery&Map</a>
                    <a href="\">Who we are</a>
                    <a href="\">Newsstand</a>
                </div>
            </div>
            <p class="copyright">&copy; 2021 My Bakery</p>
        </footer>
    </main>
    <script src="{% static 'mainapp/js/autorization_field_changer' %}"></script>
</body>
</html>