{% extends "mainapp/template_layout.html" %}
{% load static %}
{% block title %}Shop{% endblock title %}
{% block content %}
    <div class="context_bar">
        <p style="font-size:60px;">Shop</p>
        <span class="left_buttons_context_bar">
            <button>Default</button>
            <button>A-Z</button>
            <button>List view</button>
        </span>
    </div>
    <hr>
    <br>
    {% for product in products %}
        <div class="product-card">
            <img src="{{ product.image.url }}" alt="{{ product.name }}">
            <p class="product_name">{{ product.name }}</p>
            <p class="product_price">${{ product.price }}</p>
            <p class="product_description">{{ product.description|truncatewords:10 }}</p>
            <input class="product_input_field" type="number" name="quantity" max="{{ product.stock_quantity }}" value="1">
            <button class="h-buttons">Add</button>
        </div>
        {% if forloop.counter|divisibleby:3 %}
        <div style="clear: both;"></div>
        {% endif %}
    {% endfor %}
    <br>
    <hr>
    <br>
{% endblock content %}